experiment/PaddleNLP_UIE/checkpoint
experiment/PaddleNLP_UIE/data_v1/checkpoint
experiment/PaddleNLP_UIE/data_v2/checkpoint
experiment/PaddleNLP_UIE/data_v3/checkpoint
experiment/PaddleNLP_UIE/data_v4/checkpoint
experiment/PaddleNLP_UIE/data_v5/checkpoint
finetune/data/experiment/V1/checkpoint